body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

h1{
    font-size: 15rem;
    font-family: 'Ubuntu Mono', monospace;
}

.letter{
    transition: 1000ms;
}